.tbl{
    display: table;
    width: 100%;
}

.tbl-row{
    display: table-row;
    text-align: center;
}

.tbl-inner{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.bgsize-cover{
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat;
}

.bgsize-contain{
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}


// fixed-ratio box, credits http://www.mademyday.de/css-height-equals-width-with-pure-css.html
.box{
    &:before{
        content: "";
        display: block;
        padding-top: 100%; 	/* initial ratio of 1:1*/
    }
    &> .content{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &.ratio2_1:before{
        padding-top: 50%;
    }
    &.ratio1_2:before{
        padding-top: 200%;
    }
    &.ratio4_3:before{
        padding-top: 75%;
    }
    &.ratio16_9:before{
        padding-top: 56.25%;
    }
}
