$mediaqueries-landscape: 'screen and (orientation: landscape)';
$mediaqueries-portrait: 'screen and (orientation: portrait)';
$mediaqueries-retina: 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)';
$mediaqueries-small: 'only screen and (min-width: 0em)';
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-namespace: false;
$global-text-direction: ltr;
$color-primary: #FF0048;
$color-secondary: #AA00FF;
$color-success: #4BE274;
$color-warning: #FFAA00;
$color-alert: #FF0048;
$color-info: #00AAFF;
$color-light-gray: #FFF3E8;
$color-medium-gray: #D3C3B5;
$color-dark-gray: #D3C3B5;
$color-black: #0a0a0a;
$color-white: #ffffff;
$color-triangles: $color-primary;
$body-background: $color-white;
$body-font-color: $color-black;
$body-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$breakpoints: ( small: 0, smallplus: 512px, medium: 768px, large: 1024px, xlarge: 1200px, xxlarge: 1440px, xxlargeplus:1700px , xxlargeplus2:1900px ,xxxlarge: 2048px);
$breakpoint-classes: (small medium large xlarge xxlarge xxlargeplus xxlargeplus2);
$topbar-padding: 0.5rem;
$topbar-background: transparent;
$topbar-link-color: $color-black;
$topbar-input-width: 200px;
$topbar-height: rem-calc(100);
$button-padding: rem-calc(16) rem-calc(45);
$button-margin: $global-margin/2 0;
$button-fill: solid;
$button-background: $color-primary;
$button-background-hover: $color-secondary;
$button-color: $color-white;
$button-color-alt: $color-black;
$button-radius: $global-radius;
$button-sizes: ( tiny: 0.6rem, small: 0.75rem, default: 0.9rem, large: 1.25rem);
$button-opacity-disabled: 0.25;
$titlebar-background: transparent;
$titlebar-color: $color-black;
$titlebar-icon-color: $color-black;
$titlebar-icon-color-hover: $color-primary;
$header-lineheight: 1.2;
$header-sizes: (  small: ( 'h1': 60, 'h2': 46, 'h3': 38, 'h4': 30, 'h5': 25, 'h6': 16, ), medium: ( 'h1': 85, 'h2': 70, 'h3': 54, 'h4': 40, 'h5': 30, 'h6': 18, ) );
$header-font-weight: $global-weight-bold;
$header-color: $color-primary;