/* Welcome and glad you are using Cerulean.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://studioup.it */

// import normalize, stay at top
// @import "normalize";

// Global Foundation Settings
//@import "settings";

@import "settings-animate";

// Tweak the mixin for WordPress, this might create some extra CSS in additional to app.css
//@import 'components/pagination';

// Cerulean comes with a standalone Foundation stylesheet already
// @import "foundation";

// Load some Compass magic, note you will need to install Compass first
//@import "compass/css3/shared";
@import "app";
@import "polyfill.object-fit";
@import "animate";
@import "icon-font";
@import "outdatedbrowser";
@import "cerulean-commons";
@import "cerulean-triangles";
@import "slick.scss";
@import "custom_slick_theme";
@import "forms";
@import "cookies-enabler";

@import "animsition";
//@import "ghost-buttons";
@import "font-awesome";


/* Start to customize Cerulean */

// add transition effect
a, a:visited, a:hover, a:visited:hover {
    transition: all 100ms linear;
    
    //@include transition(all 100ms linear);
}

// add some margin for embeds in post
figure {
    margin: 0 auto $global-margin;
}

// Add class for images
figure img {
    border-radius: 5px;
    //@include border-radius(5px);
}

img.alignright {
    float: right;
    margin: 0 0 18px 18px;
}

img.alignleft {
    float: left;
    margin: 0 18px 18px 0;
}

img.aligncenter {
    display: block;
    margin: 18px auto;
    }

// Fix gallery images display
.gallery {
    dt, dl {
        display: inline-block;
    }
    dl {
        margin-left: rem-calc(9);
        margin-right: rem-calc(9);
    }
}

// Add HTML5 Caption Class for Images
figure.figure {
    margin: 0 auto;
    display: table;
    figcaption {
        font-size: rem-calc(14);
        line-height: 1.4;
        font-style: italic;
        padding: 8px 10px;
        color: #999;
        margin-bottom: $global-margin;
        display: table-caption;
        caption-side: bottom;
    }
}

figure.alignright.figure {
    float: right;
    margin: 0 0 18px 18px;
}

figure.alignleft.figure {
    float: left;
    margin: 0 18px 18px 0;
}

.footer-widget {
    background-color: #eee;
}

body > header.contain-to-grid {
    margin-bottom: rem-calc(32);
    max-width: 100%;
    padding-bottom: 0;
}

// define content padding for later use
//$content-padding: rem-calc(50);

#content {
    //background-color: #fff;
    //border: 1px solid #ddd;
    @include breakpoint(medium up) {
        //padding: $content-padding;
    }
    
}

.index-card {
    //border-bottom: 1px solid #ddd;
    //padding-bottom: rem-calc(32);
    //margin-bottom: rem-calc(32);
    background: $white;
	.article-card-img{
		display: block;
		min-height: rem-calc(250);
		height: 100%;
		@include breakpoint(smallplus down) {
			min-height: rem-calc(160);
		}
	}
}

.large-12 > div > .index-card .article-card-img{
	min-height: rem-calc(394);
	@include breakpoint(smallplus down) {
		min-height: rem-calc(160);
	}
}

span.author,
time {
    font-size: rem-calc(16);
    color: $body-font-color;
    a {
        color: $body-font-color;
        font-weight: bold;
        &:hover, &:focus {
            color: $body-font-color;
        }
    }
}



.entry-author {
    background-color: #fbfbfb;
    border: none;
    padding: rem-calc(50) rem-calc(80);
    margin: rem-calc(50) (-($grid-column-gutter/2));
    @include breakpoint(medium up) {
        //margin: rem-calc(50) (-$content-padding);
    }
    .avatar {
        margin-right: rem-calc(40);
        margin-bottom: rem-calc(24);
    }
    h4 {
        a {
            color: #999;
            &:hover, &:focus {
                color: $body-font-color;
            }
        }
    }
    p {
        color: #bbb;
    }
}

.post header,
.page header {
    margin-bottom: rem-calc(20);
}

.entry-tags {
    color: $black;
    font-size: rem-calc(12);
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    a {
        color: $black;
        &:hover, &:focus {
            color: $body-font-color;
        }
    }
}




// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers {
    color: #999;
      @include foundation-pagination;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  border-radius: 3px;
  //@include border-radius(3px);
}

.page-numbers li {
  margin-left: rem-calc(8);
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
    span:hover a,
    span a:focus {
        background: $pagination-item-background-hover;
    }
    span.current {
        background: $pagination-item-background-current;
        padding: $pagination-item-padding;
        color: $pagination-item-color;
        //font-weight: $pagination-link-current-font-weight;
        //cursor: $pagination-link-current-cursor;
    }
}

.avatar {
    border-radius: 50%;
    //@include border-radius(50%);
    float: left;
}

// add some basic comment styles
ol.commentlist {
    margin-left: 0;
    margin-top: 2em;
    p {
        font-size: rem-calc(15);
        line-height: 1.5;
    }
    ul.children {
        margin-left: rem-calc(64);
    }
    li {
        list-style: none;
        margin-bottom: 2em;

        .comment-author img {
            float: left;
            margin: 0 1em 0 0;
        }
        .author-meta {
            display: inline-block;
            cite.fn {
                font-style: normal;
                font-weight: 600;
                margin-right: rem-calc(8);
            }
            time a {
                color: #ccc;
                font-size: rem-calc(14);
                margin-right: rem-calc(8);
            }
            .comment-edit-link {
                color: #bbb;
                font-size: rem-calc(14);
            }
        }
        section.comment {
            margin-left: rem-calc(64);
            margin-bottom: rem-calc(32);
            a.comment-reply-link {
                font-size: rem-calc(14);
                font-weight: 600;
                color: #bbb;
                &:hover, &:focus {
                    color: $body-font-color;
                }
            }
        }
    }
}



// Start the sidebar
#sidebar {
    //margin-top: rem-calc(20);
}

#sidebar, .footer-widget {
    .panel {
        border: none;
        background-color: $white;
        padding: rem-calc(24) rem-calc(30);
        a {
            //color: #999;
            //font-size: rem-calc(15);
            &:hover, &:focus {
                //color: $body-font-color;
            }
        }
        time{
	        font-size: rem-calc(12);
        }
    }
    /*
    ul {
        list-style-type: none;
        margin-left: 0;
    }
    .widget {
        h4 {
            text-transform: uppercase;
            font-size: rem-calc(16);
            padding-bottom: rem-calc(16);
            border-bottom: 1px solid #ddd;
            color: #888;
            font-weight: 600;
        }
    }
    */
}



// Start the footer
footer.full-width {
    background-color: $primary-color;
    //border-top: 1px solid #ccc;
    color: $secondary-color;
    padding-top: rem-calc(14);
    p {
        font-size: rem-calc(14);
    }
    a {
        color: $white;
        font-size: rem-calc(15);
        &:hover, &:focus {
            color: $secondary-color;
        }
    }
}

// Fix admin bar issue, by bybe on Github
.admin-bar > .fixed {
    margin-top: rem-calc(32);
}

.f-topbar-fixed > .container {
    margin-top: rem-calc(32);
}


//old styles ported to foundation 6

.entry-author {
    .avatar {
        @include breakpoint(small up) { 
            margin-bottom: rem-calc(20);
        }
    }
}


#sidebar {
    @include breakpoint(large up) { 
        //padding-left: $grid-column-gutter;
        //padding-right: 0;
        //margin-top: rem-calc(0);
    }
}
.footer-widget {
    @include breakpoint(large up) { 
        margin-top: rem-calc(48);
        padding-top: rem-calc(32);
    }
}

// Customizzazioni

body, html{
    height: auto !important;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}


.page-wrapper{
    min-height: 80vh;
}


h1.huge{
    font-size: rem-calc(69);
    font-weight: 900;
    @include breakpoint(small only) { 
        font-size: rem-calc(36);
    }
}

body{
    //border: rem-calc(5) solid $black;
}


.archive-grid .panel{
    a{
        display: block;
        transition: all 100ms linear;
        &:hover{
            background: $white;
            box-shadow: 1px 15px 10px 0px rgba(0,0,0,0.10);
        }
    }
}

.button{
    font-weight: 700;
    text-transform: uppercase;
}

//header menu

#main-menu-mobile-bar{
    position: relative;
    z-index: 1000;
    background: rgba($color-primary,0);
    
    > .row > .columns{
	    position: relative;
    }
    //padding-top: rem-calc(10);
    .title-bar-title{
        //margin-left: -15px;
        margin-top: 10px;
        img{
            height: rem-calc(64);
            @include breakpoint(smallplus down) {
	            height: rem-calc(44);
            }
        }
        span{
            display: none;
            
        }
    }
    .menu-icon{
        width: 29px;
        height: 23px;
        position: absolute;
        top: 30px;
        right: 0;
        &:after{
            height: 3px;
            background: $white;
            box-shadow: 0 10px 0 $white, 0 19px 0 $white;
            
        }
        &:hover::after {
            background: $secondary-color;
            box-shadow: 0 10px 0 $secondary-color, 0 19px 0 $secondary-color;
        }
    }
}
body #main-header{
    width: 100%;
    z-index: 1000;
    position: absolute;
    
}


.primary-bg, .full-bg.primary-bg{
	background: $color-primary;
}

.light-gray-bg, .full-bg{
	background: $color-light-gray;
}

.arrow-wrapper{
	border: rem-calc(3) solid $color-secondary;
	border-radius: 50%;
	width: rem-calc(34);
	height: rem-calc(34);
	display: inline-table;
	vertical-align: middle;
	position: relative;
	font-size: rem-calc(18);
	text-align: center;
	line-height: 1;
	&.extra-left-space{
		left: $grid-column-gutter/2;
	}
	&.extra-right-space{
		right: $grid-column-gutter/2;
	}
	
	.nuc{
		font-size: rem-calc(14);
		vertical-align: middle;
		position: relative;
		&.nuc-s-chevron-up {
			top: rem-calc(1);
		}
		&.nuc-s-chevron-down {
		    top: rem-calc(3);
		    
		}
		&.nuc-s-chevron-left {
		    right: rem-calc(1);
		    top: rem-calc(2);
    	}
    	&.nuc-s-chevron-right {
    		left: rem-calc(1);
		    top: rem-calc(2);
		}
	}
}

.has-border{
	border-bottom: rem-calc(9) solid $color-secondary;
}

.page-header .o-tbl{
	height: rem-calc(250);
}

.company-keypoint-card-title{
	@extend .text-center;
}

.section-heading, .company-keypoint-card-title{
	@extend .uppercase;
}
.product-card-title, .company-keypoint-card-title{
	@extend .like-h6;
}

.news-card-title{
	@extend .like-h5;
}

.section-heading, .product-card-title, .company-keypoint-card-title, .news-card-title{
	@extend .color-white;
	@extend .primary-bg;
	
	padding: $grid-column-gutter/2 $grid-column-gutter/2;
}

.section-heading{
	@extend .xlittle-bottom-margin;
}

.breadcrumbs{
	a{
		color: $white;
		&:hover{
			color: $color-secondary;
		}
	}
	.breadcrumb_last{
		display: none;
	}
}

.company-keypoint-card-main-image{
	position: relative;
	.overlay{
		background: $black;
		opacity: 0.2;
		
	}
	.company-keypoint-card-icon, .overlay{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.company-story-card:not(.first):before {
    content: "";
    display: block;
    height: rem-calc(50);
    width:  rem-calc(5);
    background: $color-light-gray;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.company-keypoint-card > div , .news-card > a, .product-card > a {
	@extend .xlittle-bottom-margin;
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
	display: block;
}

.news-card .new-card-content{
	background: $white;
}

.widget_yearly_archive ul {
    list-style: none;
    margin-left: 0;
    margin-top: 60px;
    li{
	    border-bottom: 1px solid $color-secondary;
	    padding: 20px 0;
	    &:first-child{
		    border-top: 1px solid $color-secondary;
		}
	}



}

.widgettitle{
	text-transform: uppercase;
}

#map{
	height: rem-calc(500);
}
#partners-map{
	height: rem-calc(730);
}

.large-12.columns.partners-map{
	@include breakpoint(medium down) {
		padding: 0;
	}
}

.partners-columns{
	column-count: 3;
	@include breakpoint(smallplus down) {
		column-count: 1;
	}
	@include breakpoint(medium only) {
		column-count: 2;
	}
	font-size: rem-calc(17);
	.country-block-inside{
		break-inside: avoid-column;
	}
}



.primary-bg{
	ul.links-list li{
		border-color: $white;
		color: $white;
		&:first-child{
			border-color: $white;
		}
		a{
			color: $white;
			&:hover{
				color: $secondary-color;
			}
		}
	}
}

ul.links-list {
    margin-left: 0;
    list-style: none;
    li{
	    border-bottom: 1px solid blue;
	    &:first-child{
			border-top: 1px solid blue;
		}
		 a{
		    padding: 20px 50px 20px 0;
		    display: block;
		    position: relative;
		    @extend .clearfix;
		}
		.arrow-wrapper{
		    position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		}


	}

}

hr.home-hr {
    margin-top: rem-calc(16);
    border-bottom-width: rem-calc(6);
    border-color: $white;
}

.ddl-full-width-row{
	@extend .expanded;
}

.row.expanded, .ddl-full-width-row{
	> .columns > .row,  > .columns > div > .row{
		margin-left: auto;
		margin-right: auto;
	}
}



/*
	"button" : {
    	"padding": "rem-calc(16) rem-calc(45)",
        "margin": "$global-margin/2 0",
        "fill": "solid",
        "background": "$color-black",
        "background-hover": "$color-primary",
        "color": "$color-white",
        "color-alt": "$color-black",
        "radius": "rem-calc(3)",
        "sizes": "( tiny: 0.6rem, small: 0.75rem, default: 0.8rem, large: 1.25rem)",
        "opacity-disabled": "0.25"
    },
	*/

.private-area.button {
    background: none;
    > a{
	    border: 2px solid $black;
	    height: 50px !important;
	    padding: 15px 25px;
	    border-radius: $button-radius;
	    &:hover{
		    background: $black;
		    //color: $white;
	    }
    }
    @include breakpoint(large up) {
	    display: block !important;
	    position: absolute;
	    right: 0;
	    top: -15px;
    }
    
}

.menu-container {
    position: relative;
}

#main-menu {
    //font-weight: $global-weight-bold;
    //text-transform: uppercase;
    @include breakpoint(medium down) {
        //background: $body-background;
    }
    .menu.vertical > li {
	    text-align: center;
	    > a{
			display: inline-block !important;
		}
    }
    .top-bar-left{
	    @include breakpoint(smallplus down) {
		    margin-top: rem-calc(20);
	    }
	    a{
			font-size: rem-calc(22);
			text-transform: uppercase;
			@include breakpoint(smallplus down) {
		        font-size: rem-calc(14);
	        }
		}
    }
    a{
        
        font-size: rem-calc(45);
        
        letter-spacing: rem-calc(3);
        &:hover,&.active{
            color: $secondary-color;
        }
        @include breakpoint(smallplus down) {
	        font-size: rem-calc(25);
        }
    }
        
    ul.menu>li.menu-text.name {
        img{
            height: $topbar-height - ($topbar-padding*2);
            width: auto !important;
        }
        span{
            display: none;
        }
    }

}

#main-menu{
	display: none;
}

body.menu-expanded{
	overflow-y: hidden;
	height: 100vh !important;
	#main-menu-mobile-bar{
		background: rgba($color-primary,1);
	}
	#main-menu {
		display: block;
	    height: 100vh;
	    position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	    background: $color-primary;
	    overflow-y: scroll;
	    padding: 0;
	    > .o-tbl{
		    height: 100vh;
		    padding-top: 80px;
		    padding-bottom: 80px;
	    }
	}
}


.page-header{
	position: relative;
	.o-tbl{
		position: relative;
	}
}
.header-overlay{
	background: $primary-color;
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

body.home{
	.page-header > .o-tbl{
		height: 100vh;	
	}
    .header-overlay{
		opacity: 0.44;
	}
}






.social-sharer ul{
	margin-left: 0;
	li{
		display: inline-block;
		margin-left: rem-calc(10);
		margin-right: rem-calc(10);
		a{
			padding-left: rem-calc(10);
			padding-right: rem-calc(10);
			width: rem-calc(72);
			height: rem-calc(72);
			font-size: rem-calc(40);
			@extend .button;
		}
	}	
}






.single-product-main-image{
	height: rem-calc(320);
	display: block;
	@include breakpoint(medium up) {
		height: rem-calc(620);
	}
}

.home-slider{
	height: auto !important;
	background: none;
	.company-keypoint-card{
		padding: 0 $grid-column-gutter/2;
	}
}

.home-slider-next,.home-slider-prev{
	position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: $primary-color;
    &.slick-disabled{
	    opacity: 0.5;
    }
}

.home-slider-prev {
    left: -50px;
    [dir="rtl"] & {
        left: auto;
        right: -50px;
    }
}

.home-slider-next{
    right: -50px;
    [dir="rtl"] & {
        left: -50px;
        right: auto;
    }

}


#main-footer {
    position: relative;
    display: block;
    width:100%;
    .credits{
        padding-top: rem-calc(25);
        padding-bottom: rem-calc(25);
        #credits a {
            background-image: url(//static.studioup.it/img/stup_developed.png);
            //background-image: url(//static.studioup.it/img/stup_developed_g.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 30px;
            display: block;
            float: right;
            width: 150px;
            @include breakpoint(smallplus down) {
	            margin: 0 auto;
				float: none;
            }
            strong{
                display: none;
            }
        }
        p{
            //color: #7d7d7d;
            font-size: rem-calc(14);
            line-height: rem-calc(30);
            strong{
                font-size: rem-calc(14);
                //color: #7d7d7d;
                font-weight: bolder;
            }
            small{
                font-size: rem-calc(14);
                //color: #c1c1c1;
            }

        }

    }

}


// hack per foundation 6
#main-menu{
	.divider{
		display: none;
	}
	.top-bar-right{
		@include breakpoint(medium ) {
			.menu.vertical > li{
				text-align: right;
			}
		}
	}
	.top-bar-left{
		@include breakpoint(small only) {
			text-align: center;
			> ul {
				display: inline-block;
			}
		}
	}
    .top-bar-left, .top-bar-right{
        >ul.menu >li{
            @include breakpoint(large up) {
                height: $topbar-height;
            }
        }
    }
}

.is-drilldown {
    //height: auto !important;
}
