/* Welcome and glad you are using Cerulean.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://studioup.it */

// import normalize, stay at top
// @import "normalize";

// Global Foundation Settings
//@import "settings";

@import "settings-animate";

// Tweak the mixin for WordPress, this might create some extra CSS in additional to app.css
//@import 'components/pagination';

// Cerulean comes with a standalone Foundation stylesheet already
// @import "foundation";

// Load some Compass magic, note you will need to install Compass first
//@import "compass/css3/shared";
@import "app";
@import "polyfill.object-fit";
@import "animate";
@import "icon-font";
@import "outdatedbrowser";
@import "cerulean-commons";
@import "cerulean-triangles";
@import "slick.scss";
@import "custom_slick_theme";
@import "forms";
@import "cookies-enabler";

@import "animsition";
//@import "ghost-buttons";
@import "font-awesome";


/* Start to customize Cerulean */

// add transition effect
a, a:visited, a:hover, a:visited:hover {
    transition: all 100ms linear;
    
    //@include transition(all 100ms linear);
}

// add some margin for embeds in post
figure {
    margin: 0 auto $global-margin;
}

// Add class for images
figure img {
    border-radius: 5px;
    //@include border-radius(5px);
}

img.alignright {
    float: right;
    margin: 0 0 18px 18px;
}

img.alignleft {
    float: left;
    margin: 0 18px 18px 0;
}

img.aligncenter {
    display: block;
    margin: 18px auto;
    }

// Fix gallery images display
.gallery {
    dt, dl {
        display: inline-block;
    }
    dl {
        margin-left: rem-calc(9);
        margin-right: rem-calc(9);
    }
}

// Add HTML5 Caption Class for Images
figure.figure {
    margin: 0 auto;
    display: table;
    figcaption {
        font-size: rem-calc(14);
        line-height: 1.4;
        font-style: italic;
        padding: 8px 10px;
        color: #999;
        margin-bottom: $global-margin;
        display: table-caption;
        caption-side: bottom;
    }
}

figure.alignright.figure {
    float: right;
    margin: 0 0 18px 18px;
}

figure.alignleft.figure {
    float: left;
    margin: 0 18px 18px 0;
}

.footer-widget {
    background-color: #eee;
}

body > header.contain-to-grid {
    margin-bottom: rem-calc(32);
    max-width: 100%;
    padding-bottom: 0;
}

// define content padding for later use
//$content-padding: rem-calc(50);

#content {
    //background-color: #fff;
    //border: 1px solid #ddd;
    @include breakpoint(medium up) {
        //padding: $content-padding;
    }
    
}

.index-card {
    //border-bottom: 1px solid #ddd;
    //padding-bottom: rem-calc(32);
    //margin-bottom: rem-calc(32);
    background: $white;
	.article-card-img{
		display: block;
		min-height: rem-calc(250);
		height: 100%;
		@include breakpoint(smallplus down) {
			min-height: rem-calc(160);
		}
	}
}

.large-12 > div > .index-card .article-card-img{
	min-height: rem-calc(394);
	@include breakpoint(smallplus down) {
		min-height: rem-calc(160);
	}
}

span.author,
time {
    font-size: rem-calc(16);
    color: $body-font-color;
    a {
        color: $body-font-color;
        font-weight: bold;
        &:hover, &:focus {
            color: $body-font-color;
        }
    }
}



.entry-author {
    background-color: #fbfbfb;
    border: none;
    padding: rem-calc(50) rem-calc(80);
    margin: rem-calc(50) ( -1 * ( map-get($grid-column-gutter, medium) /2 ));
    @include breakpoint(medium up) {
        //margin: rem-calc(50) (-$content-padding);
    }
    .avatar {
        margin-right: rem-calc(40);
        margin-bottom: rem-calc(24);
    }
    h4 {
        a {
            color: #999;
            &:hover, &:focus {
                color: $body-font-color;
            }
        }
    }
    p {
        color: #bbb;
    }
}

.post header,
.page header {
    margin-bottom: rem-calc(20);
}

.entry-tags {
    color: $black;
    font-size: rem-calc(12);
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    a {
        color: $black;
        &:hover, &:focus {
            color: $body-font-color;
        }
    }
}




// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers {
    color: #999;
      @include foundation-pagination;
}

.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

.page-numbers li span.current {
  border-radius: 3px;
  //@include border-radius(3px);
}

.page-numbers li {
  margin-left: rem-calc(8);
}

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
    span:hover a,
    span a:focus {
        background: $pagination-item-background-hover;
    }
    span.current {
        background: $pagination-item-background-current;
        padding: $pagination-item-padding;
        color: $pagination-item-color;
        //font-weight: $pagination-link-current-font-weight;
        //cursor: $pagination-link-current-cursor;
    }
}

.avatar {
    border-radius: 50%;
    //@include border-radius(50%);
    float: left;
}

// add some basic comment styles
ol.commentlist {
    margin-left: 0;
    margin-top: 2em;
    p {
        font-size: rem-calc(15);
        line-height: 1.5;
    }
    ul.children {
        margin-left: rem-calc(64);
    }
    li {
        list-style: none;
        margin-bottom: 2em;

        .comment-author img {
            float: left;
            margin: 0 1em 0 0;
        }
        .author-meta {
            display: inline-block;
            cite.fn {
                font-style: normal;
                font-weight: 600;
                margin-right: rem-calc(8);
            }
            time a {
                color: #ccc;
                font-size: rem-calc(14);
                margin-right: rem-calc(8);
            }
            .comment-edit-link {
                color: #bbb;
                font-size: rem-calc(14);
            }
        }
        section.comment {
            margin-left: rem-calc(64);
            margin-bottom: rem-calc(32);
            a.comment-reply-link {
                font-size: rem-calc(14);
                font-weight: 600;
                color: #bbb;
                &:hover, &:focus {
                    color: $body-font-color;
                }
            }
        }
    }
}



// Start the sidebar
#sidebar {
    //margin-top: rem-calc(20);
}

#sidebar, .footer-widget {
    .panel {
        border: none;
        background-color: $white;
        padding: rem-calc(24) rem-calc(30);
        a {
            //color: #999;
            //font-size: rem-calc(15);
            &:hover, &:focus {
                //color: $body-font-color;
            }
        }
        time{
	        font-size: rem-calc(12);
        }
    }
    /*
    ul {
        list-style-type: none;
        margin-left: 0;
    }
    .widget {
        h4 {
            text-transform: uppercase;
            font-size: rem-calc(16);
            padding-bottom: rem-calc(16);
            border-bottom: 1px solid #ddd;
            color: #888;
            font-weight: 600;
        }
    }
    */
}





// Fix admin bar issue, by bybe on Github
.admin-bar > .fixed {
    margin-top: rem-calc(32);
}

.f-topbar-fixed > .container {
    margin-top: rem-calc(32);
}


//old styles ported to foundation 6

.entry-author {
    .avatar {
        @include breakpoint(small up) { 
            margin-bottom: rem-calc(20);
        }
    }
}


#sidebar {
    @include breakpoint(large up) { 
        //padding-left: $grid-column-gutter;
        //padding-right: 0;
        //margin-top: rem-calc(0);
    }
}
.footer-widget {
    @include breakpoint(large up) { 
        margin-top: rem-calc(48);
        padding-top: rem-calc(32);
    }
}

// Customizzazioni

body, html{
    height: auto !important;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}


.page-wrapper{
    min-height: 80vh;
    padding-top: $topbar-height;
}


h1.huge{
    font-size: rem-calc(69);
    font-weight: 900;
    @include breakpoint(small only) { 
        font-size: rem-calc(36);
    }
}

body{
    //border: rem-calc(5) solid $black;
}


.archive-grid .panel{
    a{
        display: block;
        transition: all 100ms linear;
        &:hover{
            background: $white;
            box-shadow: 1px 15px 10px 0px rgba(0,0,0,0.10);
        }
    }
}

.button{
    font-weight: 700;
    text-transform: uppercase;
}

//header menu

#main-menu-mobile-bar{
    position: relative;
    padding: 0 !important;
    
    .title-bar-title{
        //margin-left: -15px;
        a{
	        padding: 20px;
			display: block;
        }
        img{
            height: 50px;
        }
        span{
            display: none;
            
        }
    }
    .menu-icon{
        width: 35px;
	    height: 28px;
	    position: absolute;
	    top: 28px;
	    right: 12px;
        &:after{
	        background: $primary-color;
            height: 3px;
            box-shadow: 0 12px 0 $primary-color,0 24px 0 $primary-color;
            
        }
        &:hover::after {
            background: $color-black;
            box-shadow: 0 12px 0 $color-black, 0 24px 0 $color-black;
        }
    }
}
body #main-header{
    width: 100%;
    z-index: 1000;
    position: absolute;
    
}



@include breakpoint(medium down) {
    #main-header{
        
        &.expanded{
	        height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: $body-background;
            border: rem-calc(5) solid $black;
            z-index: 10000;
            //display: table !important;
            //vertical-align: middle;
            #main-menu{
	            position: absolute;
			    top: 50%;
			    width: 100%;
			    transform: translateY(-50%);
			    //padding: rem-calc(100) 0;
	            //display: table-row !important;
	            > div{
		            //display: table-cell !important;
	            }
            }
        }
    }
    body.home #main-header.expanded{
        background-image: linear-gradient(0deg, #0276F9 0%, #4DA0FF 100%);
        //background-image: linear-gradient(0deg, #0276F9 0%, #3f9aff 100%);
    } 
      
} 

/*
	"button" : {
    	"padding": "rem-calc(16) rem-calc(45)",
        "margin": "$global-margin/2 0",
        "fill": "solid",
        "background": "$color-black",
        "background-hover": "$color-primary",
        "color": "$color-white",
        "color-alt": "$color-black",
        "radius": "rem-calc(3)",
        "sizes": "( tiny: 0.6rem, small: 0.75rem, default: 0.8rem, large: 1.25rem)",
        "opacity-disabled": "0.25"
    },
	*/

.private-area.button {
    background: none;
    > a{
	    border: 2px solid $black;
	    height: 50px !important;
	    padding: 15px 25px;
	    border-radius: $button-radius;
	    &:hover{
		    background: $black;
		    //color: $white;
	    }
    }
    @include breakpoint(large up) {
	    display: block !important;
	    position: absolute;
	    right: 0;
	    top: -15px;
    }
    
}

.menu-container {
    position: relative;
}

#main-menu {
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    @include breakpoint(medium down) {
        //background: $body-background;
    }
    .menu.vertical > li {
	    text-align: center;
	    > a{
			display: inline-block !important;
		}
    }
    a{
        
        font-size: rem-calc(16);
        letter-spacing: rem-calc(3);
        &:hover,&.active{
            color: $primary-color;
        }
    }
        
    ul.menu>li.menu-text.name {
        img{
            //height: $topbar-height - ($topbar-padding*2);
            width: auto !important;
        }
        span{
            display: none;
        }
    }

}

.archive-dropdown-wrapper{
	
	.archive-dropdown-title{
		background: $color-primary;
		color: $color-white;
		border-radius: rem-calc(32);
		margin-bottom: rem-calc(-32);
	    z-index: 1000;
	    position: relative;
	    padding:     rem-calc(17) rem-calc(32);
		//@extend .xxlittle-vertical-padding;
		//@extend .xxlittle-horizontal-padding;
		cursor: pointer;
	}
	.archive-dropdown-body{
		
		overflow: hidden;
		ul{
			background: $color-dark-gray;
			list-style: none;
			margin-left: 0;
			padding-top: rem-calc(32);
			li{
				//padding: rem-calc(20);
				padding: 0 rem-calc(32);
				@extend .xxlittle-horizontal-padding;
				a{
					padding: rem-calc(20) 0;
					display: block;
					border-top: 1px solid $color-white;
					color: $white;
				}
				&:first-child{
					a{
						border-top: none;
					}
				}
			}
		}
	}
}


body.home{
    //color: $white;
    //background: $primary-color;
}






.social-sharer ul{
	li{
		display: inline-block;
	}	
}



// Start the footer
footer.full-width {
    padding-top: rem-calc(14);
    p {
        font-size: rem-calc(14);
    }
    a {
        color: $white;
        //font-size: rem-calc(15);
        &:hover, &:focus {
            color: $color-secondary;
        }
    }
}

#main-footer {
    position: relative;
    display: block;
    width:100%;
    background: $primary-color;
    color: $white;
    .credits{
        padding-top: rem-calc(25);
        padding-bottom: rem-calc(25);
        #credits a {
            background-image: url(//static.studioup.it/img/stup_developed.png);
            //background-image: url(//static.studioup.it/img/stup_developed_g.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 30px;
            display: inline-block;
            float: right;
            width: 150px;
            @include breakpoint(smallplus down) {
	            float: none;
	            margin: 0 auto;
            }
            strong{
                display: none;
            }
        }
        p{
            color: $white;
            //font-size: rem-calc(14);
            line-height: rem-calc(30);
            strong{
                //font-size: rem-calc(14);
                color: $white;
                //font-weight: bolder;
            }
            small{
                font-size: rem-calc(14);
                color: $white;
            }

        }

    }

}


// hack per foundation 6
#main-menu{
	padding-top: 0;
	@include breakpoint(large up) {
		.menu-tbl{
			display: table !important;
			width: 100%;
			table-layout: fixed;
			.menu-tbl-row{
				display: table-row !important;
				.menu-item{
					padding: 0 rem-calc(10) !important;
					display: table-cell !important;
					vertical-align: middle;
				}
			}
		}
	}
    .top-bar-left, .top-bar-right{
        >ul.menu >li{
	        background: $color-white;
	        a{
	        	color: $color-white;
	        }
	        &:hover, &:active{
		        a{
		        	color: $color-black;
		        }
	        }
	        &:nth-child(3) {
			    background: $color-warning;
			}
	        &:nth-child(5) {
			    background: $color-primary;
			}
			&:nth-child(7) {
			    background: $color-secondary;
			}
			&:nth-child(9) {
			    background: $color-info;
			}
			&:nth-child(11) {
			    background: $color-success;
			}
            @include breakpoint(large up) {
                height: $topbar-height;
                //width: 16.6666666666666%;
                &.divider{
	                display: none;
                }
                &.name{
	                a{
		                vertical-align: middle;
	                }
                }
            }
        }
    }
}

.is-drilldown {
    //height: auto !important;
}
